.pharmacy-courier {
  @media screen and (max-width: 1075px) {
    .pharmacy-courier__availability {
      .availability__items {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @media screen and (max-width: 739px) {
    .pharmacy-courier__availability {
      .availability__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (max-width: 561px) {
    .pharmacy-courier__availability {
      .availability__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
