.loyalty-promo {
  background: #FFCC30;
  height: 70px;
  padding: 16px;
  width: 100%;
  color: $colorBlack;
  text-decoration: none;

  .loyalty-promo__icon {
    margin-right: auto;
  }

  .loyalty-promo__icon img {
    width: 38px;
  }

  .loyalty-promo__title {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 2px 8px 0 0;
  }

  .icon-arrow-right {
    font-size: 28px;
    margin-left: auto;
  }
}
