.medical-experts {
  h2 {
    margin: 24px 0 12px;
    font-size: 24px;
    font-weight: 500;
    color: $colorBlack;
  }

  p + p {
    margin-top: 8px;
  }
}

@include md {
  .medical-experts {
    h2 {
      margin: 48px 0 32px;
    }

    p + p {
      margin-top: 16px;
    }
  }
}
