@mixin lightgray-gradient($height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    left: -1px;
    right: -1px;
    bottom: $bottom;
    width: 100%;
    height: $height;
    background: linear-gradient(to top, $bodyBackgroundBase 0%, rgba(250, 250, 250, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

@mixin gray-gradient($height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: $bottom;
    left: -1px;
    width: 100%;
    height: $height;
    background: linear-gradient(to top, #F0F4FB 0%, rgba(250, 250, 250, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

@mixin dark-red-gradient($height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: $bottom;
    left: -1px;
    width: 100%;
    height: $height;
    background: linear-gradient(to top, $colorDarkRed 0%, rgba(213, 25, 1, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

@mixin white-gradient($height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: $bottom;
    left: -1px;
    width: 100%;
    height: $height;
    background: linear-gradient(to top, $colorWhite 0%, rgba(250, 250, 250, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}


@mixin transparent-white-gradient($height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: $bottom;
    left: -1px;
    width: 100%;
    height: $height;
    background: linear-gradient(to top,  rgb(255, 255, 255) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
