@import "./src/styles/variables/main";
@import "./src/styles/mixin/main";
@import "./src/desktop/components/review/styles/main";

@import "./src/core/components/tabs/main";
@import "./src/desktop/components/error/style";
@import "./src/desktop/components/title/styles/main";
@import "./src/desktop/components/accordion/styles/main";
@import "./src/desktop/components/rubric/product/styles/main";
@import "./src/desktop/components/faq/styles";
@import "./src/desktop/components/faq/type/product/styles/main";
@import "./src/desktop/components/rubric/blog/styles/main";
@import "./src/desktop/components/warning/styles/main";
@import "./src/desktop/components/productGroup/styles/main";
@import "./src/desktop/components/redactor/styles/main";

@import "./src/desktop/modules/landings/nicorette/styles/main";

.catalog.catalog--search {
  @import "productGroup/main";
  @import "instruction/main";
  @import "review/main";
  @import "prices/main";
  @import "description/main";
  @import "forPregnant/main";

  .catalog__header {
    margin-top: 10px;
  }

  .tabs {
    .tabs__header .tabs__items::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .tabs__body {
      margin: 0;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .rubric.rubric--product {
      margin-top: 0;

      .rubric__header {
        display: none;
      }

      .product-card.product-card--xs {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                    0 2px 2px rgba(0, 0, 0, 0.06),
                    0 0 2px rgba(0, 0, 0, 0.07);
      }
    }
  }

  .catalog__review {
    margin: 0 9px;

    .thread-review__controls {
      display: none !important;
    }

    .thread-review.thread-review--base {
      .avatar {
        width: 40px !important;
        height: 40px !important;
      }
      .author {
        margin-left: 50px;
      }
    }

    .thread-review.thread-review--base .thread-review__answer {
      .author {
        margin: 0;
      }

      .avatar {
        top: 10px;
        left: -40px;
        width: 40px !important;
        height: 40px !important;
      }
    }
  }

  .catalog__pagination {
    position: relative;

    .loading {
      position: absolute;
      top: 40%;
      right: 0;
      left: 0;
      bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  .review {
    .review__item {
      padding: 16px 24px 25px 24px;

      & + .review__item {
        margin-top: 24px;
      }
    }
  }

  .thread-review.thread-review--base .thread-review__header {
    margin-bottom: 15px;
  }
}

@include sm {
  .catalog.catalog--search {
    .catalog__header {
      .title-heading {
        font-size: 32px;
        line-height: 41px;
        margin-bottom: 0;
      }
    }

    .catalog__review {
      .thread-review__date {
        padding-left: 50px;
      }
    }
  }
}

@include before-md {
  .tabs__header {
    background-color: $colorWhite;
  }
  .tabs__items .items__item:not(.active):hover {
    a {
      background-color: transparent;
    }
  }

  .tabs__items {
    padding: 0 16px;
  }
}

@include before-sm {
  .catalog.catalog--search {
    .tabs__body {
      padding-top: 24px;
      padding-bottom: 25px;
    }

    .catalog__review {
      margin: 0;

      .thread-review__date {
        padding-left: 50px;
      }
    }

    .sm-padding {
      padding: 0 12px;
    }

    .review {
      .review__item {
        padding: 16px;
      }
    }
  }
}

@include md {
  .catalog.catalog--search {
    .catalog__review {
      .thread-review__date {
        padding-left: 0;
      }
    }
  }
}
