.banner {
  position: relative;

  .carousel {
    z-index: 0;
  }

  .swiper-slide {
    max-height: 256px;
    max-width: 90%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    picture {
      max-height: 100%;
      max-width: 100%;
    }

    img {
      object-fit: contain;
      max-height: 256px;
      max-width: 100%;
      min-width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }

  .first-slide {
    margin: 0 auto;
  }

  &.not-mounted {
    .carousel-button-prev,
    .carousel-button-next {
      display: none;
    }
  }
}

@include lg {
  .banner {
    padding: 0 6px;

    .swiper-slide {
      max-width: 100%;
      max-height: 430px;

      img {
        max-height: 430px;
        width: 100%;
        height: auto;
      }
    }

    .carousel-button-prev,
    .carousel-button-next {
      display: flex;
      width: 40px;
      height: 40px;
      margin-top: -32px;

      .icon {
        box-shadow: 0 3px 24px rgba(57, 72, 86, 0.2), 0 13px 24px rgba(57, 72, 86, 0.2);
      }
    }

    .carousel-button-prev {
      left: 16px;
    }

    .carousel-button-next {
      right: 16px;
    }
  }
}


@include xl {
  .banner {
    padding: 0;
  }
}
