@import "./src/styles/variables/main";
@import "./src/styles/mixin/main";

.accordion {
  .panel {
    min-height: 60px;

    .panel__header {
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .panel__header .icon {
      font-size: 24px;
      color: $colorGray1;
    }

    .panel__title {
      font-family: $fontFamilySans;
      font-size: $fontSizeLarge;
      line-height: 21px;
      color: $linkColor;
    }

    .panel__body {
      display: none;
      padding: 0 12px 16px 12px;
      font-family: $fontFamilySans;
      font-size: $fontSizeMedium;
      line-height: 19px;
      color: $colorBlack;
      transition: 0.1s all;
      max-height: 0;
      opacity: 0;
    }
  }

  .panel {
    border-top: 1px solid $borderColorBase;

    &:last-child {
      border-bottom: 1px solid $borderColorBase;
    }
  }

  .panel.panel--active {
    .panel__body {
      display: block;
      max-height: inherit;
      opacity: 1;
    }

    .panel__title {
      font-weight: 500;
      color: $colorBlack;
    }
  }
}
