.recommendation {
  .recommendation__title {
    font-size: 24px;
  }

  .recommendation__items {
    margin-right: -5px;
  }

  .swiper-container {
    padding-left: 1px;
  }

  .product-card {
    width: 188px;
    //box-shadow: 0 1px 4px rgba(57, 72, 86, 0.12),
    //            0 0 3px rgba(45, 62, 79, 0.08);
  }
}
