@import "./src/styles/variables/main";
@import "./src/styles/mixin/main";
@import "./src/styles/helpers/main";

@import "./src/desktop/components/rubric/product/styles/main";
@import "./src/desktop/components/redactor/styles/main";
@import "./src/desktop/modules/blog/components/article/styles/main";
@import "./src/desktop/modules/blog/components/articles/styles/main";
@import "./src/desktop/modules/blog/components/mailing/styles/main";
@import "./src/desktop/modules/blog/components/telegram/styles/main";

.article-full {
  @import "./redactor/main";
  @import "./rubric/main";

  margin-top: 16px;

  .article-full__body {
    padding: 32px 40px;
  }

  .article-full__content{
    font-size: 18px;
    line-height: 1.6;
    color: $colorBlack;

    h1 {
      color: $colorBlack;
      font-size: 45px;
      font-weight: 500;
      margin: 0 0 24px 0;
    }

    h2 {
      color: $colorBlack;
      font-size: 32px;
      font-weight: 500;
      margin: 32px 0 16px 0;
    }

    h3 {
      color: $colorBlack;
      font-size: 20px;
      font-weight: 400;
      margin: 32px 0 16px 0;
    }

    p {
      color: $colorBlack;
      font-size: 18px;
      line-height: 1.5;
    }

    a {
      text-decoration: none;
    }

    ol {
      padding-left: 18px;
      color: $colorBlack;
      font-size: 16px;
      line-height: 1.6;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 18px;
      line-height: 1.6;

      li {
        padding: 0 0 0 20px;
        position: relative;
        width: 100%;
        color: $colorBlack;
      }

      li::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $colorPink;
        position: absolute;
        top: 9px;
        left: 0;
      }
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }

  .article-full__header {
    margin-bottom: 32px;
  }

  .article-full__info {
    margin-bottom: 16px;
  }

  .article-full__category-name {
    margin-right: 24px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .article-full__view-count {
    color: $headerColor;
    opacity: 0.6;

    i {
      margin-right: 7px;
    }
  }

  .article-full__preview {
    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 16px;
    }
  }

  .article-full__title {
    h1 {
      color: $colorBlack;
      font-size: 45px;
      font-weight: 500;
      line-height: 1.2;
      margin: 0 0 20px 0;
    }
  }

  .article-full__subtitle {
    h2 {
      color: $colorBlack;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.4;
      margin: 0 0 16px 0;
    }
  }

  .article-full__articles {
    padding: 40px;
    margin-top: 40px;

    .articles {
      .articles__header h2 {
        font-size: 22px;
        margin-bottom: 16px;
      }

      .articles__item {
        width: 33.33%;
      }
    }

    .article {
      .article__title {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
      }
    }

    &--aside {
      .article {
        .article__header {
          margin-bottom: 0;
        }
      }
    }
  }

  .article-full__articles--aside {
    padding: 24px;
    margin-top: 0;
    .articles {
      .articles__item {
        width: 100%;
      }
    }

    .article {
      margin-bottom: 0;

      .article__title {
        font-size: 14px;
      }

      .article__preview {
        width: 160px;
        margin-right: 16px;
      }
    }
  }

  .article-full__aside {
    position: sticky;
    top: 16px;

    .aside__navigation {
      padding: 24px;

      .article-full__navigation {
        margin-top: 0;
      }
    }
  }

  .article-full__navigation {
    margin: 32px 0 0 0;

    .navigation__title {
      margin: 0 0 16px 0;
      color: $colorBlack;
      font-size: 22px;
      font-weight: 500;
    }

    .navigation__items {
      margin: 0;
      list-style: none;
      padding: 0;
      font-size: 16px;
      line-height: 1.5;

      li {
        padding: 0 0 0 20px;
        position: relative;
        width: 100%;
        color: $colorBlack;
      }

      li + li {
        margin-top: 16px;
      }

      li::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $colorPink;
        position: absolute;
        top: 9px;
        left: 0;
      }

      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .bonus-cashback {
    img {
      margin-right: 5px;
    }
  }
}

@import "mediaQueries";
