.mass-media {
  color: $colorBlack;

  .mass-media__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    margin-bottom: -16px;
    margin-right: -16px;
  }

  .mass-media__item {
    padding: 16px;
    max-width: 320px;
    margin-bottom: 16px;
    margin-right: 16px;
    border: 1px solid rgba(136, 143, 154, 0.16);
    border-radius: 10px;

    &:hover {
      box-shadow: 0 3px 16px rgba(57, 72, 86, 0.12),
      0 9px 12px rgba(57, 72, 86, 0.06);
    }

    .item__preview {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
      height: 145px;

      img {
        width: 100%;
      }
    }

    .item__title {
      font-size: 14px;
      color: $colorBlue;
      margin-bottom: 14px;
      font-weight: 500;
      display: inline-block;
    }

    .item__description {
      font-size: 14px;
      line-height: 150%;
      color: $colorDark;
    }
  }
}

@import "mediaQueries";
