.location {
  margin-top: 12px;
  height: 600px;

  location-unit {
    .location__map {
      height: 450px;
      z-index: 3 !important;
    }
  }
}

@include md {
  .location {
    height: 670px;
    margin-top: 20px;

    location-unit {
      .location__map {
        height: 620px;
      }
    }
  }
}
