@include before-sm {
  .react-autosuggest__suggestions-container {
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    background: $colorWhite;

    .react-autosuggest__suggestions-list {
      max-height: 230px;
    }
  }
}
