.insurance {
  @include md {
    .section {
      margin-top: 100px;
    }

    .section__title {
      margin: 0 0 40px 0;
      font-size: 40px;
    }
  }

  @include xl {
    margin-top: -18px;
  }
}
