.employee-discount__header {
  @import "timer";

  padding: 16px 0;

  .header__description {
    p {
      margin: 0;
      font-size: 18px;
      line-height: 150%;

      &:first-child {
        font-size: 28px;
        font-weight: 500;
      }

      & + p {
        margin-top: 4px;
      }
    }
  }
}

@import "mediaQueries";
