.categories {
  .categories__item {
    padding: 16px 8px;
    border-radius: 10px;
    margin: -8px;
    color: $colorBlue;
    display: block;
  }

  .active {
    color: $colorBlack;
  }
}

@include md {
  .categories {
    cursor: pointer;
    display: block;

    .categories__item:hover {
      background-color: $colorGreyForHover;
    }
  }
}
