.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.position-fixed {
  position: fixed;
}

.top-16 {
  top: 16px;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.z-index-3 {
  z-index: 3;
}

.z-index-5 {
  z-index: 5;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.visibility-hidden {
  visibility: hidden;
}